/** ICONOGRAPHY **/

#info-basic-ict li,
.asset-info-ict , 
.table-col-ict img, 
#mycurriki-collections .frame-inset-ict img,
img.ict-icon {
  background-image: url(images/sprite_crs_ict_group.gif);
  background-repeat: no-repeat;
}

.assettype-icon { width: 17px; height: 17px; background-repeat:no-repeat; }
.assettype-icon + .asset-title { padding-left: 5px; }

li#info-basic-ict li, ul.asset-info-ict li {
  margin: 0;
  padding: 10px 0 10px 40px;
}

li#info-basic-ict li.ict-activity, .popup-info-rollover li.ict-activity, img.ict-activity {background-position: 0 -3330px;}
li#info-basic-ict li.ict-resource, .popup-info-rollover li.ict-resource, img.ict-resource {background-position: 0 -2880px;}
li#info-basic-ict li.ict-book, .popup-info-rollover li.ict-book, img.ict-book {background-position: 0 -2970px;}
li#info-basic-ict li.ict-curriculum, .popup-info-rollover li.ict-curriculum, img.ict-curriculum {background-position: 0 -3060px;}
li#info-basic-ict li.ict-other, .popup-info-rollover li.ict-other, img.ict-other {background-position: 0 -3150px;}
li#info-basic-ict li.ict-multiple, .popup-info-rollover li.ict-multiple, img.ict-multiple {background-position: 0 -3240px;}

.x-grid3-col-ict img.ict-icon, .ict-icon-combo-item img.ict-icon, #resource-toc img.ict-icon {
  background-position: 100px 100px !important;
  height: 20px !important;
  margin-right: 5px !important;
  width: 20px !important;
}

.ict-resource img.ict-icon, #resource-toc .ict-resource img.ict-icon {background-position:0 -3960px !important;}
.ict-book img.ict-icon, #resource-toc .ict-book img.ict-icon {background-position:0 -4050px !important;}
.ict-curriculum img.ict-icon, #resource-toc .ict-curriculum img.ict-icon {background-position:0 -4140px !important;}
.ict-other img.ict-icon, #resource-toc .ict-other img.ict-icon {background-position:0 -4230px !important;}
.ict-multiple img.ict-icon, #resource-toc .ict-multiple img.ict-icon {background-position:0 -4320px !important;}
.ict-activity img.ict-icon, #resource-toc .ict-activity img.ict-icon {background-position:0 -4410px !important;}
.popup-info-rollover li.ict-null, img.ict-null, #mycurriki-collections .frame-inset-ict img.ict-null, td.table-col-ict img.ict-null {background: none;}

.crs-icon {
  margin: 0;
  padding: 5px 0 5px 40px;
}

ul.crs-rating {
  list-style: none;
}

.crs-rating-crs3, .crs-rating-crs2, .crs-rating-crs1, .crs-rating-crsp,
.crs-rating-crs3-star, .crs-rating-crs2-star, .crs-rating-crs1-star, .crs-rating-crsp-star 
{
  background-image: url(images/sprite_crs_ict_group.gif);
  background-repeat: no-repeat;
  padding: 0 0 10px 45px;
}
.crs-rating-crs3 {background-position: 0 -180px; height: 36px; float: left; }
.crs-rating-crs2 {background-position: 0 -90px; height: 36px; float: left; }
.crs-rating-crs1 {background-position: 0 0px; height: 36px; float: left;}
.crs-rating-crsp {background-position: 0 -270px; height: 36px; float: left;}
.crs-rating-crs3-star {background-position: 0 -900px; height: 36px; float: left;}
.crs-rating-crs2-star {background-position: 0 -810px; height: 36px; float: left;}
.crs-rating-crs1-star {background-position: 0 -720px; height: 36px; float: left;}
.crs-rating-crsp-star {background-position: 0 -990px; height: 36px; width: 36px; float: left;}
.crs-rating-unrated {background-position: 0 -5940px; height: 36px; float: left;}

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.crs_reviewimage a:hover { text-decoration: none; }

.crs-icon { width:15px; height:15px; background-repeat:no-repeat; }
.crs-icon + .crs-text { padding-left: 5px; }

.crs-100 img.crs-icon, #search-panel-resource .crs-100 img.crs-icon {background: none;}
.crs-200 img.crs-icon, #search-panel-resource .crs-200 img.crs-icon {background-position: 0 -1710px;}
.crs-400 img.crs-icon, #search-panel-resource .crs-400 img.crs-icon {background-position: 0 -1440px;}
.crs-300 img.crs-icon, #search-panel-resource .crs-300 img.crs-icon {background-position: 0 -2160px;}
.crs-600 img.crs-icon, #search-panel-resource .crs-600 img.crs-icon {background-position: 0 -1530px;}
.crs-500 img.crs-icon, #search-panel-resource .crs-500 img.crs-icon {background-position: 0 -2250px;}
.crs-800 img.crs-icon, #search-panel-resource .crs-800 img.crs-icon {background-position: 0 -1620px;}
.crs-700 img.crs-icon, #search-panel-resource .crs-700 img.crs-icon {background-position: 0 -2340px;}

