#**
  * Groups Contributions Macros
  *
  *#  
#**
  * Displays the list of contributions
  *
  *#
#macro(groups_contributions)
#groupsinit()
#groupsheader("curriculum")
<div id="groups-contributions-main" class="frame">
  #if($context.action == "view" && ($isGroupMember || $hasGlobalAdmin))
    #curriki_titlebar($msg.get("groups.curriculum.contributions.title")  "$msg.get('groups.curriculum.contributions.addButton')" "javascript:Curriki.module.addpath.startPath('O', {publishSpace:'${collSpaceName}'});" "red")
  #else
    #curriki_titlebar($msg.get("groups.curriculum.contributions.title") "" "" "red")
  #end  
  <div class="frame-content">
  $msg.get("groups.curriculum.contributions.about")
  #set($collist = ["doc.name", "category", "doc.author", "doc.date", "rights", "_actions"])
  #set($colprops = {
    "doc.name" : { "type":"text" , "link":"view", "size":30, "sortable":true, "filterable":true},
    "category" : { "type" : "text" },
    "doc.author" : { "type":"text", "link":"author"},
    "doc.date" : { "type":"date" },
    "rights" : {"type" : "text", "sortable":true, "filterable":true},
    "_actions" : { "actions": ["add", "copy", "edit", "editinfo", "delete"]}
    })
  #set($options = { 
    "className":"CurrikiCode.AssetClass",
    "resultPage":"Groups.ContributionsLiveTableResults",
    "tagCloud" : true,
    "translationPrefix" : "groups.livetable.",
    "extraParams" : "&space=Coll_Group_Sankore",
    "rowCount": 10 })
  #livetable("allassets" $collist $colprops $options) 
  </div>
</div>
#groupsfooter()
#end




#**
  * title with mouseover description Macro
  * @param $asset Asset to disply bloc for
  *#
#macro(groups_contributions_assettitlewithmodesc $asset) ## {
#mycurriki_assettitlewithmodesc($asset)
#end ## macro ## }



#**
  * title with mouseover description Macro and breadcrumb for favorites
  * @param $asset Asset to disply bloc for
  *#
#macro(groups_contributions_favassettitlewithmodesc $asset) ## {
#mycurriki_assettitlewithmodesc($asset)
#end ## macro ## }


#**
  * show an asset bloc
  * @param $asset Asset to disply bloc for
  * @param $allcols show all columns
  *#
#macro(groups_contributions_asset $asset $allcols)
#if(!$g_rowCount) ## {
#set($g_rowCount = 0)
#end ## }
#set($g_rowCount = $g_rowCount + 1)
<tr class="table-row#if(($g_rowCount % 2) == 0) table-odds#end">
<td class="table-col-title">#groups_contributions_assettitlewithmodesc($asset)</td>
<td class="table-col-ict">#mycurriki_ict($asset false)</td>
<td class="table-col-updated">#mycurriki_lastupdate($asset)</td>
#if($allcols)
<td class="table-col-access">#mycurriki_access($asset)</td>
#end ## if allcols
<td class="table-col-filetype">#mycurriki_filetype($asset)</td>
#if($allcols)
<td class="table-col-action">
<div class="button-links">
#set($g_actionFirst = true)
#mycurriki_action_add($asset 'P')
#mycurriki_action_copy($asset 'Copy')
#mycurriki_action_buildup($asset 'N')
#mycurriki_action_editcontent($asset)
#mycurriki_action_editinfo($asset)
#mycurriki_action_organize($asset)
#mycurriki_action_delete($asset)
</div>
</td>
#end ## if allcols
</tr>
#end


#**
  * Displays the contributions search
  *#
#macro(groups_contributions_search)
#groupsinit()
#groupsheader("curriculum")
<script type="text/javascript">
Ext.ns('Curriki.userinfo');
Curriki.userinfo = {
	isAdmin: #if($hasGlobalAdmin)true#{else}false#end
};
</script>
<script type="text/javascript" src="/xwiki/js/curriki-module-search$!{debugging}.js"></script>
<script type="text/javascript">
Curriki.module.search.tabList = ['resource'];
Curriki.module.search.restrictions = 'web:Coll_${spaceName}';
Curriki.module.search.start();
</script>
<div id="search-div"></div>
<form id="history-form" class="x-hidden">
    <input type="hidden" id="x-history-field" />
    <iframe id="x-history-frame"></iframe>
</form>
#groupsfooter()
#end


#**
  * Show collections
  * @param $asset Asset to show collections for
  *#
#macro(groups_curriculum_collectionactions $asset)
#set($g_actionFirst = true)
#mycurriki_action_add($asset 'P')
#mycurriki_action_buildup($asset 'N')
#mycurriki_action_editinfo($asset)
#mycurriki_action_organize($asset)
#mycurriki_action_delete($asset)
#end

#macro(groups_curriculum_collectionasset $asset)
#if(!$g_rowCount) ## {
#set($g_rowCount = 0)
#end ## }
#set($g_rowCount = $g_rowCount + 1)
<div class="frame-inset#if(($g_rowCount % 2) == 0) table-odds#end">
<div>
<div class="button-links">
#groups_curriculum_collectionactions($asset)
</div>
<div class="frame-inset-ict">
#mycurriki_ict($asset)
</div>
<div class="frame-inset-title">
#mycurriki_assettitlewithmodesc($asset)
</div>
</div>
<div class="frame-inset-description groups-collections-row-description">
#mycurriki_collectiondescription($asset)
</div>
</div>
#end

#**
  * Displays the collections list for this group
  *#
#macro(groups_curriculum)
#groupsinit()
#groupsheader("curriculum")
##---------------------------------------------------------------------------------------------------------------
##Start SKE-453
#if(!$isGuest && $isGroupMember)
  #groupsdisplaywelcomecolour($msg.get("groups.curriculum.about.title") $spaceName $doc.name "red" $isGroupAdmin)
#end
##End SKE-453
##---------------------------------------------------------------------------------------------------------------
<div id="groups-search" class="frame">
#curriki_titlebar($msg.get("groups.curriculum.contributions.title") "" "" "red")
<div class="frame-content">
$msg.get("groups.curriculum.contributions.about")
<div>
<form id="groupsearch"
      onsubmit="document.groupsearch.method='post'; if (document.groupsearch.brsqry.value!='$msg.get("groups.curriculum.search.default")') {document.groupsearch.action=document.groupsearch.action+'#o%3As%3Ds%253Aresource%5Ef%3Do%253Aresource%253Do%25253Aterms%25253Ds%2525253A'+escape(escape(escape(escape(document.groupsearch.brsqry.value))));}; document.location.href=document.groupsearch.action; return false;"
      action="/xwiki/bin/view/${spaceName}/ContributionsSearch"
      name="groupsearch">
<div class="groupcontribution-leftbutton">
<a class="button button-confirm" href="/xwiki/bin/view/${spaceName}/Contributions" alt="$msg.get("groups.curriculum.contributions.viewAll")" title="$msg.get("groups.curriculum.contributions.viewAll")">$msg.get("groups.curriculum.contributions.viewAll")</a>
$msg.get('groups.curriculum.contributions.viewORsearch')
</div>
##
<div id="curriki-search-field-container">
    <div class="curriki-search-a" id="curriki-search-field">
     <input type="hidden" value="" name="area" class="hidden"/>
     <input type="text" id="curriki-searchbox" name="brsqry"
            value="$msg.get("groups.curriculum.search.default")"
            onfocus="if (this.value=='$msg.get("groups.curriculum.search.default")') this.value=''; else this.select()"
            onblur="if (this.value=='') this.value='$msg.get("groups.curriculum.search.default")'"
/>
     <button name="btn" type="submit" id="searchbtn">$msg.get("groups.curriculum.contributions.go")</button>
    </div> </div>
</form>
</div>
</div>
</div>
##
<div id="groups-collections" class="frame">
<script type="text/javascript">
var $hidden = false;
function toggle_desc(){
  var $action;
  var $titl;
  if ($hidden){
    $hidden = false;
    $action = 'show';
    $titl = "$msg.get('groups.curriculum.collections.titlebarbutton')";
  } else {
    $hidden = true;
    $action = 'hide';
    $titl = "$msg.get('groups.curriculum.collections.titlebarbuttonalt')";
  }
  $$('.groups-collections-row-description').invoke($action);
  $('hider-link').title=$titl;
  $('hider-link').innerHTML=$titl+"  &raquo;";
  return false;
}
</script>
#if($isGroupMember || $hasGlobalAdmin)
#set($cnt = $xwiki.search("select count(*) from XWikiDocument as doc, BaseObject as obj, StringProperty as props where obj.id=props.id.id and doc.fullName=obj.name and obj.className='CurrikiCode.CompositeAssetClass' and doc.web='Coll_${spaceName}' and doc.name != 'WebHome' and props.id.name='type' and props.value='collection'").get(0))
#set($multiple = ($cnt > 1))
#if($multiple)
#set($reorder = $xwiki.search("select count(*) from XWikiDocument as doc, BaseObject as obj, IntegerProperty as props where obj.id=props.id.id and doc.fullName=obj.name and obj.className='XWiki.CollectionReorderedClass' and doc.fullName='Coll_${spaceName}.WebHome' and props.id.name='reordered' and props.value=1").get(0))
#set($reordered = ($reorder > 0))
<script type="text/javascript">
/* <![CDATA[ */
Curriki.data.reorder = {
	place:'groups'
	,which:'${spaceName}'
	,reordered:${reordered}
};
/* ]]> */
</script>
<script type="text/javascript" src="/xwiki/js/curriki-module-reorder.js"></script>
#end
#end
#curriki_fulltitlebar($msg.get("groups.curriculum.collections.titlebar") $msg.get("groups.curriculum.collections.titlebarbutton") "" "return toggle_desc();" "red" "hider")
<div class="frame-content">
<div id="groups-collections-instructional">
## TODO: We need to know who can add to the collection here
#if($context.action == "view")
#if($isGroupMember)
<a class="button button-confirm" onclick="Curriki.module.addpath.startPath('M', {publishSpace:'Coll_${spaceName}'});" alt="$msg.get("groups.curriculum.collections.addButton")" title="$msg.get("groups.curriculum.collections.addButton_tooltip")">$msg.get("groups.curriculum.collections.addButton")</a>
#end
#end
<div id="groups-collections-instructional-text">
$msg.get("groups.curriculum.collections.about")
</div>
</div>
## Do query for contributions
## TODO: Define groupname
#set($groupname = 'test')
#set($assetList = $xwiki.getPlugin("curriki").fetchCollectionsList($spaceName))
#set($nbToDisplay = 20)
#set($startIndex = 0)
#set($Integer = 0)
#if($request.startIndex)
 #set($startIndex = $Integer.parseInt($request.getParameter("startIndex")))
#end
#if($startIndex > ($assetList.size() - 1))
 #set($startIndex = $assetList.size() - 1)
#end
#set($endIndex = $startIndex - 1 + $nbToDisplay)
#if($endIndex > ($assetList.size() - 1))
 #set($endIndex = $assetList.size() - 1)
#end
##
## row per item -- number of rows configurable
#set($showcount = 0)
#foreach($assetPage in $assetList)
#if($xwiki.hasAccessLevel("view", $context.user, $assetPage))
#set($showcount = 1 + $showcount)
#if(($showcount > $startIndex) && ($showcount < ($endIndex + 2)))
#set($asset = $xwiki.getDocument($assetPage))
#groups_curriculum_collectionasset($asset)
#end ## showcount > startIndex && showcount < endIndex
#end  ## if has view access
#end ## foreach assetPage in list
#if($showcount == 0)
<div class="centertext">$msg.get("groups.curriculum.collections.noresults")</div>
#end ## showcount
#curriki_paginator($msg.get("groups.curriculum.tab.collections.label") $startIndex $nbToDisplay $assetList.size())
</div>
</div>
#groupsfooter()
#end

