#**
  * Asset Attachment Displayer in View mode
  *
  *#
#asset_displaycontentheader("")
<div class="asset-display-text">
  <div class="asset-display-text-inner">
  #set($caption = "")
  #set($ok = $asset.use("CurrikiCode.AttachmentAssetClass"))
  #set($caption = $asset.getObject('CurrikiCode.AttachmentAssetClass').getProperty('caption_text').value)
  #set($ok = $asset.use("CurrikiCode.AssetClass"))
  #if("$!caption" == "")
    #set($caption = $asset.getObject('CurrikiCode.AssetClass').getProperty("description").value)
  #end
  $!caption <span class="asset-ubw-clickhint">($msg.get('rve.content.view.preview.previewubwattachment'))</span>
  #if("$!asset.fileType" == "ubw" || "$!asset.fileType" == "ubz")
    #foreach($attachment in $asset.getAttachmentList())
      $asset.getRenderedContent("{{sankore file=${escapetool.q}$!{attachment.filename}${escapetool.q} width='562' /}}", "xwiki/2.0")
    #end
  #end  
  </div>
</div>
#if("$!asset.fileType" == "ubw")
  #sankore_attachments($asset)
#else
  #asset_attachments($asset)
#end
#asset_displaycontentfooter()
